
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/OuterLayout.cshtml";
}
@{
    bool CheckGender(string gender)
    {
        if (Model != null && Model.Gender != null &&
            Model.Gender.Equals(gender))
        {
            return true;
        }
        return false;
    }
    bool CheckHobbies(string hobby)
    {
        if (Model != null && Model.Hobbies != null)
        {
            foreach (var h in Model.Hobbies)
            {
                if (h.Equals(hobby)) return true;
            }
        }
        return false;
    }
}

<h2>SignUp</h2>
@Html.ValidationSummary()

<form action="" method="post">
    Name : <input type="text" value="@(Model==null ? "":Model.Name)" name="Name" /><br />
    <span class="text-danger">@Html.ValidationMessage("Name")</span>
    <br />

    User ID : <input type="text" value="@(Model==null ? "":Model.UserId)" name="UserId" /><br />
    <span class="text-danger">@Html.ValidationMessage("UserId")</span>
    <br />

    Password : <input type="password" value="@(Model==null ? "":Model.Password)" name="Password" /><br />
    <span class="text-danger">@Html.ValidationMessage("Password")</span>
    <br />

    ID : <input type="text" value="@(Model==null ? "":Model.Id)" name="Id" /><br />
    <span class="text-danger">@Html.ValidationMessage("Id")</span>
    <br />

    Email : <input type="text" value="@(Model==null ? "":Model.Email)" name="Email" /><br />
    <span class="text-danger">@Html.ValidationMessage("Email")</span>
    <br />

    Date Of Birth : <input type="date" value="@(Model==null ? "":Model.Dob)" name="Dob" /><br />
    <span class="text-danger">@Html.ValidationMessage("Dob")</span>
    <br />

    <input type="submit" value="Sign Up" />
</form>